:root {
    --bootstrap_primary: #007bff;
    --bootstrap_secondary: #6d757d;
}

hr {
    border-top: 1px solid white;
}

#primary-combat-stats {
    width: 80%;
}

.card {
    margin: 10px;
}

.card p {
    font-size: 36px;
}

#hp {
    width: 80px;
    border-style: none;
    font-size: 36px;
    color: white;
    background-color: var(--bootstrap_secondary);
}

#weapon-dropdown {
    margin-left: 830px;
    margin-bottom: 50px;
}

.dropdown-menu {
    background-color: var(--bootstrap_primary);
    color: white;
}
